
.about-me__wrapper {
    display: grid;
    grid-template: 1fr / 1.34fr 1fr;
    width: 100%;
    overflow: hidden;
    padding-bottom: 40px;
}

.descr__title{
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 30px;
    position: relative;

}

.descr {
    padding: 0 0 0 100px;
}

.descr__text p {
    display: block;
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    position: relative;
}

.photo__wrapper {
    position: relative;
}

.dotted_img {
    position: absolute;
    bottom: -8%;
    right: -8%;
    max-width: 45%;
    max-height: 45%;
    z-index: -2;

}

.portfolio__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.img__animation-wrapper._anim + div .portfolio__photo{
    animation: photo__opacity 2.3s ease-out 1s;
    animation-fill-mode: forwards;
}

.photo__inner {
    position: relative;
    overflow: hidden;
    padding: 0 0 100% 0;
}

.descr__button {
    display: block;
    width: 188px;
    height: 50px;
    background-color: black;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 11px;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 15px;
    transition: all 0.5s ease;
    letter-spacing: 1.5px;
}

.descr__button:hover {
    border: 2px solid rgba(255, 255, 255, 1);
}

@media (max-width: 930px) {
    .about-me__wrapper {
        grid-template-columns: 1fr;
    }
    .descr {
        padding: 0 48px 0 15px;
        margin-top: 50px;
    }

}

.button {
    position: relative;
}

