@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800;900&display=swap');

html,
body {
    font-family: Raleway;
    color: #fff;
    background: black;
}

[class*="__container"] {
    max-width: 1140px;
    margin: 0 auto; 
    padding: 0 15px;
}

[class*="__title-wrapper"] {
    text-align: center;
}

.wrapper { 
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
    z-index: 10;
    margin-bottom: 350px;
    background: black;
}

section {
    padding-bottom: 112px;
}
/* --------------------------------------------------------Header-------------------------------------------------------------- */
.header {
    margin: 45px 0;
    position: absolute;
    z-index: 15;
    width: 100%;
    top: 0%;
    left: 0%;
}

.header__container {
    display: flex;
    justify-content: center;
    gap: 20vw;
}

.menu {
    display: flex;
}

.menu li {
    margin: 0 15px;
    font-size: 16px;
    color: #fff;

}.link {
    background-image: linear-gradient(#d63447, #d63447);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.2s ease;
    padding-bottom: 9px;
}

.link:hover {
    background-size: 100% 2px;
}


/* --------------------------------------------------------Main-------------------------------------------------------------- */

.info__container{
    background: url("../img/cover_bg_2.jpg") 50% 48%/cover no-repeat fixed;
    background-position: cover;
    height: 105vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 40vh;
}

h1 {
    position: relative;
    width: 31rem;
    height: 4.5rem;
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.info__sub-wrapper {
    text-align: center;
}

h2 {
    position: relative;
    width: 45rem;
    height: 2.8rem;
    margin: 32px 0 0 0;
    font-weight: 400;
    font-size: 2.3rem;

}

@keyframes menu {
    0%{
        transform: translateY(90%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

.header__menu-list1 {
    animation: menu 1.2s ease-out;
}

.header__menu-list2 {
    animation: menu 1.2s ease-out;
    
}

.info__scroll-link {
    display: block;
    position: absolute;
    top: 87vh;
    height: 65px;
    width: 50px;
}

@keyframes mouse {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    50%{
        /* display: block; */
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.info__mouse {
    display: block;
    width: 22px;
    height: 42px;
    border: 2px solid #fff;
    border-radius: 15px;
    margin: 0 auto;
    animation: mouse 2s ease-out;
}

.info__mouse-scroll {
    margin: 6px auto;
    opacity: 0;
    display: block;
    height: 3px;
    width: 3px;
    border-radius: 4px;
    border: 2px solid #d63447;
    animation: mouse-scroll 1.6s ease-out infinite;
}

@keyframes mouse-scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px); }
      100% {
        opacity: 0;
        -webkit-transform: translateY(18px);
        transform: translateY(18px); } 
    }


.info__mouse-text {
    display: block;
    margin-top: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.05rem;
    text-align: center;
    animation: textJump 5s ease-out infinite;
}

@keyframes textJump {
    0%{
        transform: translateY(0px);
    }
    15%{
        transform: translateY(-5px);
    }
    30%{
        transform: translateY(0px);
    }
    45%{
        transform: translateY(-3px);
    }
    55%{
        transform: translateY(0px);
    }
    70%{
        transform: translateY(-2px);
    }
    80%{
        transform: translateY(0px);
    }
    90%{
        transform: translateY(1.5px);
    }
    100%{
        transform: translateY(0px);
    }
}

.info__title-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation: title__anim-text 2.5s ease;
}

.info__title-wrapper {
    position: absolute;
    display: block;
    background-color: #d63447;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    animation: title__anim-redline 1.6s cubic-bezier(.85,0,.15,1) 0.5s;
}

@keyframes title__anim-redline {
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
       left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

@keyframes title__anim-text{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    51%{
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
    
}

.info__subtitle-text {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: title__anim-text 2.5s ease;

}

.info__subtitle-wrapper {
    position: absolute;
    background-color: #d63447;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    animation: title__anim-redline 1.6s cubic-bezier(.85,0,.15,1) 0.5s;

}

/* SECTION-portfolio------------------------------ */ 

.title {
    position: relative;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 105px 0;
    /* animation: title-opacity 1s ease; */
    display: inline-block;
}

@keyframes title-opacity {
    0%{
        opacity: 0;
    }
    99%{ opacity: 0;}
    100%{opacity: 1;}
}

.title__wrapper-anim {
    position: absolute;
    background-color: black;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    animation: title__anim 1.5s cubic-bezier(.75,.01,.5,1.01);
}

@keyframes title__anim {
    0%{
        width: 100%;
        left: 0;
    }
    100%{
        left: 100%;
        width: 0%;
    }
}

.portfolio__examples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 65px;
    margin: 0 -15px;

}


.portfolio__item{
    grid-row: span 4;
    margin: 0 15px 30px 15px;
    position: relative;
    overflow: hidden;

}

.portfolio__item a img{
    animation: photo__opacity 3.2s ease;
}

@keyframes photo__opacity {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        transform: scale(1.4);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.portfolio__animation-wrapper {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 15px;
    background-color: #d63447;
    animation: portfolio__anim 2s cubic-bezier(.85,0,.15,1) 0.5s;
}

@keyframes portfolio__anim {
    0%{

        width: 0%;
        left: 0%;
    }
    50%{
        width: 100%;
        left: 0%;

    }
    100%{
        left: 100%;
        width: 100%
    }
}

.portfolio__item:nth-child(2n+2){
    grid-row: span 7;
}

.portfolio__item:nth-child(2n+5){
    grid-row: span 5;
}






.portfolio__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SECTION-about------------------------------ */ 

.about-me__wrapper {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    width: 100%;
}

.descr__title{
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 30px;

}

.descr {
    padding: 0 48px 0 15px;
    animation: text__reveal 1.5s ease;

}

@keyframes text__reveal {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
     }
}

.descr__text p {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;

}

.about-me__photo {

}

.photo__wrapper {
    height: 635px;
    width: 646px;
    position: relative;
}

.about-me__photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descr__button {
    margin-top: 10px;
    display: inline-block;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 11px;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 17px;
    transition: all 0.5s ease;
}

.descr__button:hover {
    border: 2px solid rgba(255, 255, 255, 1);
}

/* SECTION-contact------------------------------ */ 
.contact-form input {
    background-color: black;
    border: none;
    border-bottom: 1px solid #fff;
    line-height: 30px;
    width: 100%;
    opacity: 0.5;
}

.contact-form textarea {
    background-color: black;
    border: none;
    border-bottom: 1px solid #fff;
    line-height: 30px;
    width: 100%;
    opacity: 0.5;
    height: 100%;
}

.contact-form__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    line-height: 30px;
}

.form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    margin: 0 -15px 30px -15px;

}

.form__message {
    height: 200px;
    margin-bottom: 50px;
}

.contact-form__form {
    width: 100%;
}

.contact-form__info{
    margin-left: 37%;
}

.contacts__title {
    font-size: 11px;
    letter-spacing: .1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}

.contacts__item {
    font-size: 20px;
    color: #fff;
}

.contacts__block{
    margin-bottom: 30px;
    font-weight: 300;
}

.form__wrapper div {
    margin: 0 15px;
}

input:focus {
    opacity: 1;
}

textarea:focus {
    opacity: 1;
}

button {
    background-color: transparent;
    color: #fff;
    border: none;

    padding: 15px 30px;
    border-radius: 30px;
    font-size: 11px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.6;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
/* --------------------------------------------------------Footer-------------------------------------------------------------- */

footer {
    background-color: #191919;
    margin: 0 auto;
    width: 100%;
    height: 350px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    padding-top: 60px;
}

.footer .title__wrapper-anim {
    background-color: #191919;
}

.footer__social {
    display: flex;
    justify-content: center;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.about-me__title{
    margin-bottom: 40px;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
}

.footer__social li {
    margin-right: 3vw;
}

.footer__social li:last-child{
    margin-right: 0;
}

.footer__copyright {
    margin-top: 70px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}
